


.body-container{
    background-color: whitesmoke;
    width: 70%;
    margin: auto;
    height: 85vh;

}

.body-container .main{
    width: 100%;
    margin: auto;
    padding-top: 5vh;
    /* background-color: lightgreen; */
}

.body-container .main .topic-list{
    background-color: #B6E6FF;
    width: 50%;
    height: auto;
    margin: auto;
    border-radius: 10px;
    border: 1px solid black;
    box-sizing: border-box;
    padding: 1em;
}

.topic-list h3 {
    text-align:center ;
}

.topic-data{
    /* background-color: antiquewhite; */
    width: 90%;
    margin: auto;
    padding: 1em 0;
    
}

.topic-data li{
    list-style-type: none;
    margin: 15px 0;
    border-bottom: dashed gray 2px;
}