body{
    margin: 0 0 10px 0;
    padding: 0;
    height: fit-content;
    box-sizing: border-box;
    background-color: #D5F0FF;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}